body {
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	margin: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.header {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
}

.promo {
	background: url(../img/bg.jpg) 50%/cover no-repeat;
	min-height: 800px;
	padding: 40px 360px 60px 360px;
}

.promo__main {
	text-align: center;
}

.promo__text {
	text-align: left;
	margin-top: 20px;
	color: white;
	font-size: 28px;
}

.promo__text span {
	color: #F9BF3B;
}

.promo__button {
	display: block;
	width: 315px;
	height: 75px;
	margin: 0 auto;
	background-color: #2798B9;
	color: white;
	font-size: 24px;
	border: none;
	cursor: pointer;
	margin-top: 72px;
}

.promo__info {
	text-align: center;
	font-size: 24px;
	color: white;
}

.info__text {
	opacity: 0.4;
	text-transform: uppercase;
}

.promo__title {
	color: #F9BF3B;
	font-size: 40px;
	margin-top: 52px;
}
.promo__simple {
	color: #fff;
	font-size: 80px;
	margin-top: 20px;
	line-height: 40px;
}

.promo__subtitle {
	color: #F9BF3B;
	font-size: 40px;
	margin-top: 20px;
}


.about {
	background-color: #EFEFEF;
	min-height: 610px;
	padding-top: 90px;
	padding-bottom: 75px;
}

.about__title {
	text-align: center;
	color: #252525;
	font-size: 30px;
}

.divider {
	background-color: #F9BF3B;
	height: 5px;
	width: 220px;
	margin: 0 auto;
	margin-top: 20px;
}

.about__subtitle {
	text-align: center;
	font-size: 20px;
	color: #4A4A4A;
	margin-top: 20px;
}

.about__block {
	display: flex;
	margin-top: 45px;
	justify-content: center;

}

.about__item {
	width: 380px;
	font-size: 20px;
	text-align: center;
	color: #4A4A4A;
}

.item__text {
	margin-top: 25px;
}

.optimization {
	position: relative;
	padding-top: 108px;
	padding-bottom: 75px;
	min-height: 500px;
}

.optimization__img {
	position: absolute;
	z-index: -1;
}

.optimization__info {
	z-index: 1;
	text-align: right;
	width: 750px;
	margin-left: 750px;
}

.optimization__title {
	color: #299CBD;
	font-size: 30px;
	text-align: left;
}

.optimization__text {
	font-size: 26px;
	color: #4A4A4A;
	text-align: left;
}

.optimization__darktext {
	font-size: 26px;
	color: black;
	text-align: left;
}

